html,
body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    font-size: 18px;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 8px 32px;
    color: white;
}

.left-links {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:active {
    color: grey;
    transition: 0.05s;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 14px 30px 30px;
    justify-content: space-between;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left {
    width: 30%;
    padding-left: 40px;
}

.hero-right {
    width: 40%;
    padding-right: 40px;
}

.placeholder {
    background-color: #666;
    color: #E5E7EB;
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button { 
    border-radius: 12px;
    color:#E5E7EB;
    font-weight: bold;
    padding: 10px;
    width: 160px;
    background-color: #3882F6;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #2b64bf;
    color: white;
    transition-duration: 0.4s;
    padding-right: 18px;
}

button:active {
    box-shadow: 0 2px #666;
    transition-duration: 0.05s;
    background-color: #2757a5;
}

.hero-left button {
    border: none;
}





.content { 
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-evenly;
    text-align: center;
}

.information-header { 
    color:#1F2937;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
}


.tiles { 
    font-size: 18px;
    color: black;
}







.testimonials {
    background-color: pink;
    margin-top: 50px;
}